---
import Image from 'astro/components/Image.astro';
import Logo from '../../assets/images/logo01.png';
---

<div class="content-section" data-background="#f7f6f1">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-2 col-md-4 col-6">
        <figure class="logo-item"> 
          <Image src={Logo} alt="Parceiro 1" width="145" height="52"> 
        </figure>
      </div>
      <!-- end col-2 -->
      <div class="col-lg-2 col-md-4 col-6">
        <figure class="logo-item"> 
          <Image src={Logo} alt="Parceiro 2" width="145" height="52"> 
        </figure>
      </div>
      <!-- end col-2 -->
      <div class="col-lg-2 col-md-4 col-6">
        <figure class="logo-item"> 
          <Image src={Logo} alt="Parceiro 3" width="145" height="52"> 
        </figure>
      </div>
      <!-- end col-2 -->
      <div class="col-lg-2 col-md-4 col-6">
        <figure class="logo-item"> 
          <Image src={Logo} alt="Parceiro 4" width="145" height="52"> 
        </figure>
      </div>
      <!-- end col-2 -->
      <div class="col-lg-2 col-md-4 col-6">
        <figure class="logo-item"> 
          <Image src={Logo} alt="Parceiro 5" width="145" height="52"> 
        </figure>
      </div>
      <!-- end col-2 -->
      <div class="col-lg-2 col-md-4 col-6">
        <figure class="logo-item"> 
          <Image src={Logo} alt="Parceiro 6" width="145" height="52"> 
        </figure>
      </div>
      <!-- end col-2 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</div>
<!-- end content-section -->