---
  import { getImage } from 'astro:assets';
  import bg from '../../assets/images/header-pattern.png';

  const bgImage = await getImage({ src: bg });

  const  { title, subtitle, currentPath } = Astro.props;
---

<header class="page-header"  style={`background-image: url(${bgImage.src});`}>
  <div class="container">
    <h1 class="text-uppercase mb-4">{title}</h1>
    {subtitle && <h6>{subtitle}</h6> }
    
    <ul class="text-uppercase">
	  	<li><a href="/" title="Home">HOME</a></li>
	  	{currentPath && <li><a href={`/${currentPath}`} title={currentPath}>{currentPath}</a></li>}
      <li>{title}</li>
	  </ul>
  </div>
  <!-- end container --> 
</header>