---
import Image from 'astro/components/Image.astro';

import NaturaGranjaViana from '../../assets/images/natura.webp';
import RoselandiaAlvorada from '../../assets/images/roselandia-alvorada.webp';
import AquaIbiuna from '../../assets/images/acqua-ibiuna.webp';
import ReservaNovaCaucaia from '../../assets/images/reserva-nova-caucaia.webp';
import HubBr from '../../assets/images/hub-br.webp';
---

<section class="content-section white-space-bottom enterprise-section" data-background="#f7f6f1">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="section-title text-left">
          <h6>CONHEÇA NOSSOS</h6>
          <h2>Empreendimentos</h2>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-7 -->
      <div class="col-lg-5">
        <p>A SanCan está sempre em busca<br />das melhores áreas para implantação.</p>
      </div>
      <!-- end col-5 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container -->
  <div class="swiper-container project-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <figure class="project-box"> 
          <a href="/empreendimentos/natura-granja-viana" title="">
            <Image src={NaturaGranjaViana} width="709" height="466" alt="Natura Granja Vianna">
          </a>
          <figcaption>
            <h5>Natura Granja Vianna</h5>
            <p>Vivencie a sua natureza! <br />LOTES À PARTIR DE 150 M2</p>
          </figcaption>
        </figure>
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <figure class="project-box"> 
          <a href="/empreendimentos/roselandia-alvorada" title="Roselândia Alvorada">
            <Image src={RoselandiaAlvorada} width="709" height="466" alt="Roselândia Alvorada">
          </a>
          <figcaption>
            <h5>Roselândia Alvorada</h5>
            <p>Loteamento residencial fechado!<br />LOTES À PARTIR DE 126 M2</p>
          </figcaption>
        </figure>
      </div>
      <!-- end swiper-slide --> 
      <div class="swiper-slide">
        <figure class="project-box"> 
          <a href="/empreendimentos/aqua-ibiuna" title="Acqua Ibiúna">
            <Image src={AquaIbiuna} width="709" height="466" alt="Acqua Ibiúna">
          </a>
          <figcaption>
            <h5>Acqua Ibiúna</h5>
            <p>Aqui a vida acontece o dia todo!<br />LOTES À PARTIR DE 1.000 M2</p>
          </figcaption>
        </figure>
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <figure class="project-box"> 
          <a href="/empreendimentos/reserva-nova-caucaia" title="Reserva Nova Caucaia">
            <Image src={ReservaNovaCaucaia} width="709" height="466" alt="Reserva Nova Caucaia">
          </a>
          <figcaption>
            <h5>Reserva Nova Caucaia</h5>
            <p>Muito mais por muito menos!<br />LOTES À PARTIR DE 150 M2</p>
          </figcaption>
        </figure>
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide">
        <figure class="project-box"> 
          <a href="/empreendimentos/hub-br" title="HUB.BR">
            <Image src={HubBr} width="709" height="466" alt="HUB.BR">
          </a>
          <figcaption>
            <h5>HUB.BR</h5>
            <p>Complexo empresarial fechado, com infraestrutura completa!<br />LOTES À PARTIR DE 525 M2</p>
          </figcaption>
        </figure>
      </div>
      <!-- end swiper-slide -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <!-- end project-slider --> 
</section>
<!-- end content-section -->