---
import Layout from "../../../layouts/Layout.astro";
import SingleHeader from "../../../components/layout/SingleHeader.astro";
import Chamada from "../../../components/layout/Chamada.astro";
import Image from "astro/components/Image.astro";

import foto1 from '../../../assets/images/hub-br/image-1-885x660.webp';
import foto2 from '../../../assets/images/hub-br/image-2-885x660.webp';
import foto3 from '../../../assets/images/hub-br/image-3-885x660.webp';
import foto4 from '../../../assets/images/hub-br/image-4-885x660.webp';
import foto5 from '../../../assets/images/hub-br/image-5-885x660.webp';
import foto6 from '../../../assets/images/hub-br/image-6-885x660.webp';
import foto7 from '../../../assets/images/hub-br/image-7-885x660.webp';
import foto8 from '../../../assets/images/hub-br/image-8-885x660.webp';
import foto9 from '../../../assets/images/hub-br/image-9-885x660.webp';
import foto10 from '../../../assets/images/hub-br/image-10-885x660.webp';
import foto11 from '../../../assets/images/hub-br/image-11-885x660.webp';
import foto12 from '../../../assets/images/hub-br/image-12-885x660.webp';
import foto13 from '../../../assets/images/hub-br/image-13-885x660.webp';
import foto14 from '../../../assets/images/hub-br/image-14-885x660.webp';
import foto15 from '../../../assets/images/hub-br/image-15-885x660.webp';
import foto16 from '../../../assets/images/hub-br/image-16-885x660.webp';
import foto17 from '../../../assets/images/hub-br/image-17-885x660.webp';
import foto18 from '../../../assets/images/hub-br/image-18-885x660.webp';
---

<Layout title="Hub BR">
  <SingleHeader title={'Hub BR'} currentPath={"empreendimentos"}/>

  <section class="content-section">
    <div class="container">
      <div class="row">
      <div class="col-lg-5">
         <div class="section-title text-left mb-4">
            <h6 class="text-uppercase">Complexo empresarial fechado</h6>
            <h2>Moderno e muito bem localizado</h2>
        </div>
        <!-- end section-title --> 

          <p>
            HUB é, por definição, uma das mais novas técnicas do mundo empresarial. 
            Ele funciona a partir de um ponto localizado estrategicamente para poder 
            atender múltiplas rotas, setores de transporte, ao mesmo tempo otimizando 
            a complexidade das operações logísticas. É um local previamente pensado 
            e organizado para tornar eficaz as operações e fluxos de movimentação de 
            chegada e partida das operações de empresas, cuja inteligência do negócio 
            primário é capaz de gerar larga economia de escala para os empresários
          </p>

        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FF4919" viewBox="0 0 256 256">
          <path d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.17,83.41,134.55a8,8,0,0,0,9.18,0C136,236.17,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z"></path>
        </svg>
        <b class="text-uppercase">Localização privilegiada</b>
      </div>
      <!-- end col-7 -->
      <div class="col-lg-5 offset-lg-2">
        <h4>Motivos para investir agora:</h4>
        <ul class="custom-list">
          <li><i class="lni lni-checkmark"></i> <p><span class="primary-color">Empreendimento inovador</span> para a região</p></li>
          <li><i class="lni lni-checkmark"></i> <p>Localização estratégica</p></li>
          <li><i class="lni lni-checkmark"></i> <p>Grande oportunidade de <span class="primary-color">valorização e retorno</span></p></li>
          <li><i class="lni lni-checkmark"></i> <p>Complexo empresarial em região de <span class="primary-color">alto desenvolvimento</span></p></li>
          <li><i class="lni lni-checkmark"></i> <p>Região com <span class="primary-color">alta e crescente demanda</span> para ocupação 
            de galpões, criando um excelente nicho de mercado para 
            o investidor com retorno de locação</p></li>
        </ul>
      </div>
      <!-- end col-5 -->
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->

  <section class="content-section">
    <div class="swiper-container project-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto1} alt="Hub br">
            </a>        
          </figure>
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto2} alt="Hub br">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto3} alt="Hub br">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto4} alt="Hub br">
            </a>
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto5} alt="Hub br">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto6} alt="Hub br">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto7} alt="Hub br">
            </a>            
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto8} alt="Hub br">
            </a>
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto9} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto10} alt="Hub br">
            </a>
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto11} alt="Hub br">
            </a>
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto12} alt="Hub brs">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto13} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto4} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto15} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto16} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto17} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href="#">
              <Image src={foto18} alt="Hub br">
            </a> 
          </figure>
        </div>
        <!-- end swiper-slide --> 
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- end project-slider --> 
  </section>
  <!-- end content-section -->

  <section class="content-section no-spacing bg-full" data-background={`${foto1.src}`}>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-9">
          <div class="services-list-box">
            <h4 class="mb-5">A região</h4>
            <p>
              O terreno onde está sendo empreendido o HUB.BR foi cuidadosamente 
              escolhido. Sua localização estratégica é sem dúvida alguma um fator 
              diferencial na valorização do investimento em que adquirir lote.
               O HUB.BR situa-se a 800 metros do projeto de expansão do Centro da 
              cidade de Vargem Grande Paulista onde já teve início a construção da nova 
              sede da Prefeitura.
            </p>
          </div>
          <!-- end services-list-box --> 
        </div>
        <!-- end col-6 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->

  <section class="content-section icons-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Espaços de lazer para<br />o bem-estar dos frequentadores.</h2>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->

        <ul class="icons-list columns-3 mb-5" style="max-width: 700px;">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,112h-8a32,32,0,0,1,0-64h8ZM32,96h8a32,32,0,0,1,0,64H32Zm0,80h8a48,48,0,0,0,0-96H32V64h88V192H32Zm192,16H136V64h88V80h-8a48,48,0,0,0,0,96h8v16Z"></path></svg>
            <span>Quadra de futebol</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,112h-8a32,32,0,0,1,0-64h8ZM32,96h8a32,32,0,0,1,0,64H32Zm0,80h8a48,48,0,0,0,0-96H32V64h88V192H32Zm192,16H136V64h88V80h-8a48,48,0,0,0,0,96h8v16Z"></path></svg>
            <span>Quadra de areia</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919 " viewBox="0 0 256 256"><path d="M238.25,229A8,8,0,0,1,227,230.25c-.37-.3-38.82-30.25-99-30.25S29.36,230,29,230.26a8,8,0,0,1-10-12.51c1.63-1.3,38.52-30.26,98.29-33.45A119.94,119.94,0,0,1,114,146.37c1.74-21.71,10.92-50.63,43-72.48A64.65,64.65,0,0,0,140.26,72c-19,.62-30.94,11.71-36.5,33.92A8,8,0,0,1,96,112a7.64,7.64,0,0,1-1.94-.24,8,8,0,0,1-5.82-9.7c9.25-36.95,33.11-45.42,51.5-46a81.48,81.48,0,0,1,21.68,2.45c-3.83-6.33-9.43-12.93-17.21-16.25-10-4.24-22.17-2.39-36.31,5.51a8,8,0,0,1-7.8-14c18.74-10.45,35.72-12.54,50.48-6.2,12.49,5.36,20.73,15.78,25.87,25,6.18-9.64,13.88-16.17,22.39-18.94,11.86-3.87,24.64-.72,38,9.37a8,8,0,0,1-9.64,12.76c-8.91-6.73-16.77-9.06-23.35-6.93-7.29,2.35-12.87,10-16.37,16.61A70.46,70.46,0,0,1,208,73.07c14.61,8.35,32,26.05,32,62.94a8,8,0,0,1-16,0c0-23.46-8.07-40-24-49a50.49,50.49,0,0,0-5.75-2.8,55.64,55.64,0,0,1,5.06,33.06,59.41,59.41,0,0,1-8.86,23.41,8,8,0,0,1-13.09-9.2c.74-1.09,16.33-24.38-3.26-49.37-27,15.21-41.89,37.25-44.16,65.59a104.27,104.27,0,0,0,3.83,36.44c62.65,1.81,101.52,32.33,103.2,33.66A8,8,0,0,1,238.25,229ZM24,140a28,28,0,1,1,28,28A28,28,0,0,1,24,140Zm16,0a12,12,0,1,0,12-12A12,12,0,0,0,40,140Z"></path></svg>
            <span>Quiosques</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M235.92,199A8,8,0,0,1,225,195.92L155.32,72H136v8a8,8,0,0,1-16,0V72H100.68L31,195.92A8,8,0,0,1,17,188.08L82.32,72H24a8,8,0,0,1,0-16H232a8,8,0,0,1,0,16H173.68L239,188.08A8,8,0,0,1,235.92,199ZM128,112a8,8,0,0,0-8,8v16a8,8,0,0,0,16,0V120A8,8,0,0,0,128,112Zm0,56a8,8,0,0,0-8,8v16a8,8,0,0,0,16,0V176A8,8,0,0,0,128,168Z"></path></svg>
            <span>Pista de caminhada</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
            <span>Churrasqueiras</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M198.1,62.59a76,76,0,0,0-140.2,0A71.71,71.71,0,0,0,16,127.8C15.9,166,48,199,86.14,200A72.09,72.09,0,0,0,120,192.47V232a8,8,0,0,0,16,0V192.47A72.17,72.17,0,0,0,168,200l1.82,0C208,199,240.11,166,240,127.8A71.71,71.71,0,0,0,198.1,62.59ZM169.45,184a56.08,56.08,0,0,1-33.45-10v-41l43.58-21.78a8,8,0,1,0-7.16-14.32L136,115.06V88a8,8,0,0,0-16,0v51.06L83.58,120.84a8,8,0,1,0-7.16,14.32L120,156.94v17a56,56,0,0,1-33.45,10C56.9,183.23,31.92,157.52,32,127.84A55.77,55.77,0,0,1,67.11,76a8,8,0,0,0,4.53-4.67,60,60,0,0,1,112.72,0A8,8,0,0,0,188.89,76,55.79,55.79,0,0,1,224,127.84C224.08,157.52,199.1,183.23,169.45,184Z"></path></svg>
            <span>Parque linear</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M208,112a47.81,47.81,0,0,0-16.93,3.09L165.93,72H192a8,8,0,0,1,8,8,8,8,0,0,0,16,0,24,24,0,0,0-24-24H152a8,8,0,0,0-6.91,12l11.65,20H99.26L82.91,60A8,8,0,0,0,76,56H48a8,8,0,0,0,0,16H71.41L85.12,95.51,69.41,117.06a48.13,48.13,0,1,0,12.92,9.44l11.59-15.9L125.09,164A8,8,0,1,0,138.91,156l-30.32-52h57.48l11.19,19.17A48,48,0,1,0,208,112ZM80,160a32,32,0,1,1-20.21-29.74l-18.25,25a8,8,0,1,0,12.92,9.42l18.25-25A31.88,31.88,0,0,1,80,160Zm128,32a32,32,0,0,1-22.51-54.72L201.09,164A8,8,0,1,0,214.91,156L199.3,129.21A32,32,0,1,1,208,192Z"></path></svg>
            <span>Ciclovia</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Infraestrutura a ser implantada</h2>
          </div>

          <ul class="items-list columns-4">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Ruas asfaltadas com guias e sarjetas</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Rede de água</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Rede de esgoto</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Rede de águas pluviais</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Rede de energia elétrica com fiação aérea</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Arborização das ruas</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Iluminação pública</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Portaria 24 horas</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Sede Administrativa, composta por 1 café, 2 salas de reuniões, sala de ADM
                e sala de RH</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Sede de apoio aos caminhoneiros, composta por copa, refeitório e vestiários
                Fechamento do perímetro do empreendimento</span>
            </li>
          </ul>
          <!-- end section-title --> 
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->

  <section class="content-section no-bottom-spacing">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="mb-4">Localização</h2>
            <p>
              Rodovia Bunjiro Nakao, km 47,2 – Vargem Grande Paulista – SP<br />
              A 1.900 metros da Rodovia Raposo Tavare
            </p>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
        <div class="col-12">
          <div class="row">
            <div style="overflow:hidden;max-width:100%;width:100%;height:500px;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Frutas+Bunjiro+Atacado+e+Varejo+-+Rodovia+Bunjiro+Nakao+-+Jardim+Margarida,+Vargem+Grande+Paulista+-+SP,+Brasil&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="our-googlemap-code" href="https://www.bootstrapskins.com/themes" id="authorize-map-data">premium bootstrap themes</a><style>#google-maps-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Chamada />
</Layout>