---
import Layout from "../../../layouts/Layout.astro";
import SingleHeader from "../../../components/layout/SingleHeader.astro";
import Chamada from "../../../components/layout/Chamada.astro";
import Image from "astro/components/Image.astro";

import logo from '../../../assets/images/reserva-nova-caucaia/logo.webp';
import foto1 from '../../../assets/images/reserva-nova-caucaia/aereas-loteamento-1-1200x675.webp';
import foto2 from '../../../assets/images/reserva-nova-caucaia/aereas-loteamento-2-1200x675.webp';
import foto3 from '../../../assets/images/reserva-nova-caucaia/aereas-loteamento-3-1200x675.webp';
import foto4 from '../../../assets/images/reserva-nova-caucaia/aereas-loteamento-4-1200x675.webp';
import foto5 from '../../../assets/images/reserva-nova-caucaia/alamedas-1-1200x675.webp';
import foto6 from '../../../assets/images/reserva-nova-caucaia/alamedas-2-1200x675.webp';
import foto7 from '../../../assets/images/reserva-nova-caucaia/alamedas-3-1200x675.webp';
import foto8 from '../../../assets/images/reserva-nova-caucaia/alamedas-4-1200x675.webp';
import foto9 from '../../../assets/images/reserva-nova-caucaia/complexo-lago-1-1200x675.webp';
import foto10 from '../../../assets/images/reserva-nova-caucaia/complexo-lago-2-1200x675.webp';
import foto11 from '../../../assets/images/reserva-nova-caucaia/complexo-lago-3-1200x675.webp';
import foto12 from '../../../assets/images/reserva-nova-caucaia/complexo-lago-4-1200x675.webp';
import foto13 from '../../../assets/images/reserva-nova-caucaia/complexo-lago-5-1200x675.webp';
import foto14 from '../../../assets/images/reserva-nova-caucaia/complexo-poliesportivo-1-1200x675.webp';
import foto15 from '../../../assets/images/reserva-nova-caucaia/complexo-poliesportivo-2-1200x675.webp';
import foto16 from '../../../assets/images/reserva-nova-caucaia/complexo-poliesportivo-3-1200x675.webp';
import foto17 from '../../../assets/images/reserva-nova-caucaia/complexo-poliesportivo-4-1200x675.webp';
import foto18 from '../../../assets/images/reserva-nova-caucaia/complexo-praia-1-1200x675.webp';
import foto19 from '../../../assets/images/reserva-nova-caucaia/complexo-praia-2-1200x675.webp';
import foto20 from '../../../assets/images/reserva-nova-caucaia/complexo-praia-3-1200x675.webp';
import foto21 from '../../../assets/images/reserva-nova-caucaia/complexo-society-1-1200x675.webp';
import foto22 from '../../../assets/images/reserva-nova-caucaia/complexo-society-2-1200x675.webp';
import foto23 from '../../../assets/images/reserva-nova-caucaia/complexo-society-3-1200x675.webp';


import Contato from "../../../components/layout/Contato.astro";
---

<Layout title="Reserva Nova Caucaia" pageClass="page-reserva-caucaia">
  <SingleHeader title={"Reserva Nova Caucaia"} currentPath={"empreendimentos"} logoPage={logo}/>

  <section class="no-bottom-spacing content-section">
    <div class="container">
      <div class="row">
      <div class="col-lg-5">
        <div class="mb-4 text-left section-title">
            <h6 class="text-uppercase">Viva com Conforto e Segurança</h6>
            <h2>O melhor de Caucaia reservado para você</h2>
        </div>
          <!-- end section-title --> 

        <p>O Reserva Noca Caucaia, conta com toda a
          instraestrutura que um bairro planejado
          precisa.Localizado em um terreno elevado, o
          local oferece vistas privilegiadas e paisagens
          naturais encantadoras. Este empreendimento
          foi projetado para renovar a região e conta com
          mais de 8.000 m² de áreas de lazer e 85.000 m²
          de área verde preservada. Com lotes comerciais
          e residenciais estrategicamente distribuídos, o
          Reserva Nova Caucaia incentiva a criação de
          uma comunidade integrada, promovendo o
          convívio, a prática de esportes e o contato com
          a natureza.</p>
      </div>
      <!-- end col-7 -->
      <div class="col-lg-5 offset-lg-2">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FF4919" viewBox="0 0 256 256">
            <path d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.17,83.41,134.55a8,8,0,0,0,9.18,0C136,236.17,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z"></path>
          </svg>
          <b>LOCALIZAÇÂO ESPETACULAR</b>
        </div>
        <ul class="custom-list">
          <li><i class="lni lni-checkmark primary-color"></i> <p>Centro</p></li>
          <li><i class="lni lni-checkmark primary-color"></i> <p>Term. de ônibus</p></li>
          <li><i class="lni lni-checkmark primary-color"></i> <p>Pronto Socorro</p></li>
          <li><i class="lni lni-checkmark primary-color"></i> <p>Supermercados</p></li>
          <li><i class="lni lni-checkmark primary-color"></i> <p>Escola</p></li>
        </ul>
      </div>
      <!-- end col-5 -->
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->

    <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Mais de <span class="primary-color">8mil m²</span> de lazer</h2>
          </div>

          <ul class="items-list columns-4">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Lago</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Redário</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Piquenique</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Quadra de areia</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Solarium</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Quiosque com churrasqueira</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Playground</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Pet Place</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Quadra Society</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Quadra recreativa</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Pista de caminhada</span>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FF4919" viewBox="0 0 256 256"><path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"></path></svg>
              <span>Academia ao ar livre</span>
            </li>
          </ul>
          <!-- end section-title --> 
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->

  <section class="no-bottom-spacing content-section">
    <div class="col-12">
      <div class="section-title">
          <h2>Opções de lazer</h2>
      </div>
      <!-- end section-title --> 
    </div>

    <div class="swiper-container project-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto1.src} data-fancybox="gallery">
              <Image src={foto1} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto2.src} data-fancybox="gallery">
              <Image src={foto2} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto3.src} data-fancybox="gallery">
              <Image src={foto3} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto4.src} data-fancybox="gallery">
              <Image src={foto4} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto5.src} data-fancybox="gallery">
              <Image src={foto5} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto6.src} data-fancybox="gallery">
              <Image src={foto6} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto7.src} data-fancybox="gallery">
              <Image src={foto7} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto8.src} data-fancybox="gallery">
              <Image src={foto8} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto9.src} data-fancybox="gallery">
              <Image src={foto9} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto10.src} data-fancybox="gallery">
              <Image src={foto10} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto11.src} data-fancybox="gallery">
              <Image src={foto11} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto12.src} data-fancybox="gallery">
              <Image src={foto12} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto13.src} data-fancybox="gallery">
              <Image src={foto13} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto14.src} data-fancybox="gallery">
              <Image src={foto14} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto15.src} data-fancybox="gallery">
              <Image src={foto15} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto16.src} data-fancybox="gallery">
              <Image src={foto16} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto17.src} data-fancybox="gallery">
              <Image src={foto17} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto18.src} data-fancybox="gallery">
              <Image src={foto18} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto19.src} data-fancybox="gallery">
              <Image src={foto19} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto20.src} data-fancybox="gallery">
              <Image src={foto20} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto21.src} data-fancybox="gallery">
              <Image src={foto21} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto22.src} data-fancybox="gallery">
              <Image src={foto22} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
                 <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <figure class="project-box"> 
            <a href={foto23.src} data-fancybox="gallery">
              <Image src={foto23} alt="Image">
            </a>          
          </figure>
        </div>
        <!-- end swiper-slide --> 
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- end project-slider --> 
  </section>
  <!-- end content-section -->



  <section class="no-bottom-spacing content-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="mb-4">E o melhor<br /> tudo isso <span class="primary-color">bem perto</span> de você.</h2>
            <h3 class="mb-4">Localização privilegiada, a <br />menos de 80km de São Paulo.</h3>
            <p>
              Av. Luís Ferreira Gil, 750 - Jardim Sao Luiz <br />(Caucaia do Alto) Cotia - SP, 06729-060 <br /> 
              <span class="text-small">A 800 m do centro de Caucaia do alto</span>
            </p>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
        <div class="col-12">
          <div class="row">
            <div style="overflow:hidden;max-width:100%;width:100%;height:500px;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=av.+luís+ferreira+gil,+750&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="our-googlemap-code" href="https://www.bootstrapskins.com/themes" id="authorize-map-data">premium bootstrap themes</a><style>#google-maps-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Contato idempreendimento={2} sendTo={"crm"} />

  <Chamada />
</Layout>